.level_3{
    -webkit-animation: pulsate 5s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
    0% { -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);}
    50% { -webkit-box-shadow: 0 0 4px rgba(255, 0, 0, 0.8);}
    100% { -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);}
}